* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8ec3f5;
    color: #ffffff;
    line-height: 1.6;
}

.h1{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    color: #000000;
}

form {
    background-color:#FFF8DC; 
    color: #000000;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    max-width: 450px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

form input {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #003344;
    color: #fffefe;
    position:relative;
    left: 40px;
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

form .button2 {
    background-color: #003344;
    color: #fffefe;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

form .button3 {
    background-color: #003344;
    color: #fffefe;
    margin-left: 60px;
    padding: 10px 20px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}

form button:hover {
    background-color: #66c2ff;
}



button {
    background-color: #003344;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #66c2ff;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    header h1 {
        font-size: 2em;
    }
    form {
        max-width: 100%;
    }
    .sidebar {
        width: 200px;
    }
    .dashboard {
        margin-left: 210px;
    }
}