* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #8ec3f5;
    color: #ffffff;
    line-height: 1.6;
}

.form2 {
    background-color: #FFF8DC; 
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 400px;
}

.form2 h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
}

.form2 label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form2 input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form2 button {
    background-color: #003344;
    color: #fffefe;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}
.form2 .button2 {
    background-color: #003344;
    color: #fffefe;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}
.form2 .button3 {
    background-color: #003344;
    color: #fffefe;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}


.form2 button:hover {
    background-color: #66c2ff;
}