<!DOCTYPE html>
<html>
<head>
    <title>Sign Up CDRRMO or PNP or BFP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <h1 class="h1">Sign Up CDRRMO or PNP or BFP</h1>
    <form action="/signup_cdrrmo_pnp" method="post">
        <label>Role: 
            <select name="role" id="role">
                <option value="cdrrmo">CDRRMO</option>
                <option value="pnp">PNP</option>
                <option value="bfp">BFP</option>
            </select>
        </label><br>
        <label>Assigned Municipality: <input type="text" name="municipality" required></label><br>
        <label>Contact Number: <input type="tel" name="contact_no" required></label><br>
        <label>Password: <input type="password" name="password" required></label><br>
        <button type="submit">Sign Up</button>
        <button class="button2" onclick="window.location.href='/go_to_cdrrmopnpin'">Log In</button>
        <button class="button3" onclick="window.location.href='/chooese_login_type'">Choose Account</button>
    </form>
</body>
</html>
