<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <form class="form2" action="/login" method="post">
        <h1>Log In</h1>
        <label>Barangay: <input type="text" name="barangay" required></label><br>
        <label>Contact Number: <input type="tel" name="contact_no" required></label><br>
        <label>Password: <input type="password" name="password" required></label><br>
        
        <button class="button3" type="submit">Log In</button>
        <button class="button4" onclick="window.location.href='/signup_na'">Sign Up</button>
        <button class="button2" onclick="window.location.href='/chooese_login_type'">Choose Account</button>

    </form>
</body>
</html>