<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Type</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/type.css') }}">
</head>
<body>
    <div class="form2">
        <h1>Select Sign Up Type</h1>
        <button onclick="window.location.href='/signup_barangay'">Barangay</button>
        <button class="button2" onclick="window.location.href='/signup_muna'">CDRRMO/PNP</button>
        <h2 class="h2">Or</h2>
        <button class="button2" onclick="window.location.href='/go_to_login_page'">Log In</button>
    </div>
</body>
</html>